.downloads{
    margin: var(--gutter-double) 0;
    display: flex;
    gap: var(--gutter);
    width: 100%;
}
.instructions{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}
