.container{
    display: flex;
    flex-direction: row;
    gap: var(--gutter);
    flex-basis: var(--col8);
    background: var(--lightgray);
    padding: var(--gutter);
    svg{
        width: 1.5em;
        height: 1.5em;
    }
    li{
        display: flex;
        gap: var(--gutter);
        padding: var(--gutter);
    }
}
.active{
    background: var(--processing-blue-dark);
    color: var(--lightgray);
}