.container{
    margin-top: calc(var(--vertical-margin-large) * -1);
    background: var(--lightgray);
    margin-bottom: var(--vertical-margin-large);
}
.bar{
    display: flex;
    flex-direction: row;
    gap: var(--gutter);
    flex-basis: var(--col8);
    padding: var(--gutter);
    svg{
        width: 1.5em;
        height: 1.5em;
    }
    li{
        display: flex;
        gap: var(--gutter);
        padding: var(--gutter);
        color: var(--processing-blue-dark);
        font-weight: bold;
        font-size: var(--text-medium);
    }
}
li.active{
    background: var(--processing-blue-dark);
    color: var(--lightgray);
}